@import 'https://use.typekit.net/wni5vbi.css';

.wrapper {
    margin: 64px auto;
    max-width: 920px;
    display: grid;
    grid-template-columns: 1fr;

    h1 {
        font-family: 'lust-didone';
    }
}