<app-toolbar></app-toolbar>
<div class="wrapper home mat-typography dd-typography">

    <div class="home__title">
        <h1 class="mat-display-1">This web is already dead!</h1>
    </div>
    <div class="home__content">
        <p class="mat-subheading-2">
            Lunes 8 de Noviembre de 2021
        </p>
        <p class="mat-subheading-2">
            Dentro de poco (no podemos dar una fecha, dependemos de varios clientes) estaremos emitiendo en <a href="https://www.twitch.tv/dunkelheitdraper" target="_blank">Twitch</a> la creación de la nueva web de 
            Dunkelheit & Draper. No sabemos que tecnologías vamos a usar, pero la vamos a rehacer por completo. ¿Será en WebFlow? ¿Será una plantilla en wordpress?
            ¿Usaremos Semplice como la <a href="http://kalte.design" target="_blank">web de Kalte</a>? ¿Será un FTP en el que tienes que leer los HTML en texto plano? 
            No tenemos ni idea, aun estamos pensando y dándole vueltas a lo que queremos hacer, qué queremos
            aprender o como queremos enfocarlo, pero vamos a emitirlo en directo y os intentaremos mostrar como trabajamos.
        </p>
        <p class="mat-subheading-2">
            Atentamente,
        </p>
        <p class="mat-subheading-2">
            Dunkelheit & Draper.
        </p>
    </div>

    <mat-divider></mat-divider>

    <div class="home__title">
        <h1 class="mat-display-1">Ese artículo del que usted me habla</h1>
    </div>
    <div class="home__content">
        <p class="mat-subheading-2">
            Sin fecha, quien sabe.
        </p>
        <p class="mat-subheading-2">
            Tenemos muchas cosas que contaros, hemos hecho <a href="https://medium.com/dunkelheit-draper/dunkelheit-draper-ha-muerto-larga-vida-a-dunkelheit-draper-2ba848f12bc0">un artículo</a> 
            para explicar todo e intentar transmitir nuestra visión y lo que será Dunkelheit & Draper a partir de ahora.
            Tenemos muchas ganas de seguir en esta nueva etapa como plataforma de creación de contenido primero y agencia de 
            producto digital después. ¿No vamos a coger ni escuchar propuestas para proyectos? para nada, simplemente tenemos en mente la creación de contenido
            y somo más cuidadosos al seleccionar los proyectos en los que nos vemos involucrados. 
            Seguiremos creando contenido, tanto en redes como en Medium, YouTube, Twitch o incluso Newsletters.
        </p>
        <p class="mat-subheading-2">
            Atentamente,
        </p>
        <p class="mat-subheading-2">
            Dunkelheit & Draper.
        </p>
    </div>
</div>
<footer>
    <mat-toolbar class="main mat-typography dd-typography">
        <p class="mat-body">Dunkelheit & Draper, {{year}}</p>
    </mat-toolbar>
</footer>