<div class="wrapper mat-typography dd-typography">
    <div>
        <h1 class="mat-display-1">¡Dunkelheit & Draper ha muerto! ¡Larga vida a Dunkelheit & Draper!</h1>
    </div>
    <div class="mat-body">
        <p>
            No os vamos a engañar: ha sido un año intenso, duro e imprevisible. Dos mil veinte será recordado como un annus horribilis por prácticamente todo el mundo, que tiene para nosotros en particular un agravante, un pequeño detalle que lo hace aun más hiriente: fue un año que empezó extraordinariamente bien.
        </p>
        <p>
            En enero de 2020, Kalte y yo decidíamos dar un paso al frente y empezar a montárnoslo por nuestra cuenta. Kalte acababa de dejar su trabajo en una empresa sueca y Carlos estaba a medio camino entre un máster, proyectos freelance y un trabajo a jornada reducida que no podía mantener. Apostamos todo a Dunkelheit & Draper, con lo que ello conlleva.
        </p>
        <p>
            Aun con nuestros trabajos a jornada completa tuvimos una reunión para un proyecto que, literalmente, nos habría arreglado el año. Un proyecto grande, importante, un reto sin igual que nos tendría ocupados entre 6 y 9 meses y con el que pensábamos llegar y besar el santo. 
        </p>
        <p>
            La reunión fue un desastre. No conseguimos transmitir nuestras ideas y los valores clave de la propuesta, nos perdimos en tecnicismos y hasta sentí que a los 5 minutos de comenzar esa reunión la decisión de que no éramos los elegidos estaba dada. En fin, empezar de lleno no iba a ser así de fácil.
        </p>
        <p>
            En febrero, con los dos ya volcados en D&D al cien por cien, comenzamos a tener reuniones, propuestas, ideas, presentaciones, presupuestos… nos estábamos moviendo y a mitad de febrero nos cayó un proyecto para una web de un evento aquí en Valencia. Era un proyecto pequeño, pero nos encantaba y encanta el estudio encargado de la identidad gráfica, Locandia Studio. Su trabajo gráfico era impecable, lo que nos hizo arriesgar unas semanas en un proyecto fugaz pero intenso y satisfactorio. Fue el primer y último proyecto terminado hasta septiembre.
        </p>
        <p>
            Mientras montábamos la web, con ponentes, eventos, agenda y demás, veíamos como el cupo de presentaciones caía, las cancelaciones se amontonaban y nuestros miedos respecto a ese 2020 empezaban a aflorar. El evento tuvo lugar entre la primera y segunda semana de marzo, pero nosotros antes de entregar el proyecto ya sabíamos que se paraba todo.
        </p>
        <p>
            Tuvimos en paralelo reuniones con muchos clientes y varios síes. Daban luz verde a proyectos medianos que nos permitían seguir manteniendo el tipo con Dunkelheit & Draper junto con los proyectos que manteníamos de 2019 y que seguíamos desarrollando.
        </p>
        <p>
            El catorce de marzo se declaraba el estado de alarma en España. La siguiente semana tuvimos muchas reuniones para cancelar o pausar muchos proyectos. Proyectos que pensábamos seguirían pero que claramente tenían que parar por la situación. Desde magazines, tiendas online o CRMs a webs corporativas para compañías eléctricas. Todo absolutamente parado. Nos quedamos con los mismos clientes con los que nos lanzamos al ruedo de los autónomos y habiendo terminado solo un proyecto.
        </p>
        <p>
            Tocaba esperar.
        </p>
        <p>
            Los siguientes dos meses fueron agobiantes. Los ingresos menguaban a medida que los proyectos que teníamos se acababan. Kalte comenzó a actualizar su portfolio en cuanto terminó todo el diseño de todos los clientes que teníamos en ese momento. Yo decidí esperar a ver si se relanzaba la cosa. Decidí que en julio podía estar la cosa mejor y puede que pudiésemos conseguir proyectos a partir de esas fechas.
        </p>
        <p>
            Llegó mitad de junio. Volvimos a tener reuniones, presentaciones, presupuestos… pero nada salía para trabajar inmediatamente y los ingresos empezaban a ser una necesidad verdadera. Kalte seguía buscando trabajo y yo comencé a mandar currículums también. A finales de junio pasaron dos cosas, a mi me hicieron una oferta en una empresa de USA y nos dieron luz verde a un par de proyectos. Pivotamos. Comenzamos a buscar desarrolladores, tener una cartera de profesionales o estudios con los que trabajar en estos proyectos sin tener que renunciar a trabajos a jornada completa manteniendo un rol de gestión en Dunkelheit & Draper. 
        </p>
        <p>
            El trabajo salió adelante pero los proyectos no.
        </p>
        <p>
            Después de conocer y molestar a decenas de personas para colaborar en diferentes proyectos, se pararon por la llegada de agosto y nunca se terminarían de mover. Kalte continuó buscando trabajo y Dunkelheit & Draper necesitaba pivotar de nuevo para mantenerse vivo. Decidimos no dejar de escuchar o buscar proyectos, al fin y al cabo teníamos una cartera de profesionales super válidos y con los que habíamos tenido mucho feeling y queríamos poder trabajar con ellos o al menos pasarles proyectos.
        </p>
        <p>
            Por el momento, mientras se concretaba algún proyecto decidimos crear contenido: videos, publicaciones, artículos, streams… convertir Dunkelheit & Draper en una plataforma de divulgación más que un estudio de producto digital en primer lugar. Trabajar alrededor del producto digital y no en producto digital.
        </p>
        <p>
            En octubre Kalte conseguía trabajo en una empresa en el norte de España y se venía al coworking conmigo. Nos dimos unos meses de descanso en redes para madurar esa idea nueva que teníamos con Dunkelheit & Draper y decidimos que Marzo 2021 era el mes para relanzar este proyecto, reconvertido ahora en gran medida en una plataforma de divulgación.
        </p>
        <p>
            Lo que queda de este año es básicamente una sensación agridulce de que de haber sido de una manera diferente, D&D podría haberse mantenido a flote siendo lo que era. Sin embargo, no vivimos en el universo en el que continuamos volcados al 100% en D&D. En este hubo clientes que nos dejaron por la situación y los proyectos que no salieron fueron tantos y tan rápidos, que no pudimos casi reaccionar. Ahora, meses después, podríamos haber intentado atar proyectos antes de dar el paso, pero vitalmente no podíamos continuar haciendo tanto en paralelo, es importante saber cuando cambiar tus prioridades laborales y cuando es buen momento para cambiar de empresa o montártelo por nuestra cuenta. 
        </p>
        <p>
            Viendo la cantidad de propuestas e interés en nuestros servicios, no creo que esta haya sido una de esas veces en las que te lanzas a una piscina prácticamente vacía. Nuestras expectativas iban de facturar suficiente para mantenernos y tirar hacia delante con proyectos puntuales como el que terminamos en Marzo. Pero no se cumplieron.
        </p>
        <p>
            Ahora es el momento de seguir adelante. La opción fácil era echar la persina. Cerrar y dejar que todo quedase en nada, dejándonos mucho más por el camino que lo que conseguimos siguiendo al pie del cañón con esta forma de trabajo o reconversión. D&D no tiene hueco hoy, pero puede tenerlo en otro momento. Mientras llega, nosotros estaremos creando videos, artículos, streams, publicaciones… bueno, todo lo que podamos para ayudar a otros en situaciones parecidas a la nuestra.
        </p>
        <p>
            Dunkelheit & Draper ha muerto como agencia de producto digital. Pero no ha desaparecido.
        </p>
    </div>
</div>