/* You can add global styles to this file, and also import other style files */

@import 'https://use.typekit.net/wni5vbi.css';
@import '~@angular/material/theming';

$accent: #F9BCBF;
$background: #3B625C;

html, body { height: 100%; }
body { margin: 0; font-family: 'Helvetica Neue', sans-serif; background-color: $background;}

.wrapper {
    margin: 64px auto;
    max-width: 720px;
    display: grid;
    grid-template-columns: 1fr;
}

.dd-typography.mat-typography {
    color: $accent;
    .mat-display-1 {
        font-family: 'lust-didone';
    }

    .mat-h3, .mat-subheading-2,
    .mat-h4, .mat-subheading-1,
    .mat-body, .mat-body-1,
    .mat-body-strong, .mat-body-2,
    .mat-small, .mat-caption {
        a, a:visited, a:active {
            font-weight: bold;
            text-decoration: underline;
            color: $accent;
        }
    
        a:hover {
            text-decoration: none;
        }
    }
}

.mat-toolbar.main {
    background-color: transparent;
    img {
        margin: auto;
    }
    a, a:visited, a:active {
        font-family: 'lust-didone';
        text-decoration: none;
        color: $accent;
    }
    a:hover {
        text-decoration: underline;
    }
}

