/* You can add global styles to this file, and also import other style files */

@import 'https://use.typekit.net/wni5vbi.css';

$foreground: #F9BCBF;
$background: #3B625C;

html, body { height: 100%; }
body { margin: 0; font-family: 'Helvetica Neue', sans-serif; background-color: $background;}

.wrapper {
    margin: 32px auto;
    padding: 16px;
    max-width: 720px;
    display: grid;
    grid-template-columns: 1fr;
}

.avatar-kalte {
  background-image: url('./assets/kalte.jpeg');
  background-size: cover;
}

.avatar-carlos {
  background-image: url('./assets/carlos.png');
  background-size: cover;
}

.wrapper-2-column {
  margin: 64px auto;
  max-width: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

//TODO: Remove when enough content in home
footer {
    position: relative;
    bottom: 0;
}

.text-center {
  text-align: center;
}

.dd-typography.mat-typography {
    color: $foreground;
    h1, .mat-display-1 {
        font-family: 'lust-didone';
    }

    .mat-h3, .mat-subheading-2,
    .mat-h4, .mat-subheading-1,
    .mat-body, .mat-body-1,
    .mat-body-strong, .mat-body-2,
    .mat-small, .mat-caption {
        a, a:visited, a:active {
            font-weight: bold;
            text-decoration: underline;
            color: $foreground;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.mat-toolbar.main {
  margin-top: 16px;
  background-color: transparent;
  a.logo {
      margin: auto;
  }
  a, a:visited, a:active {
      font-family: 'lust-didone';
      text-decoration: none;
      color: $foreground;
  }
  a:hover {
      text-decoration: underline;
  }
}

